.forget_pass {
    color: rgba(var(--fe0, 0, 55, 107), 1);
    font-size: 12px;
    line-height: 16px;
    margin-top: 12 px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.forget_password {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}