body {
    margin: 0;
    padding: 0;
}

.topnav {
    // overflow: hidden;
    background-color: #4267b2;
    color: #fff;
    height: 80px;
    font-size: 22px;
}

.facebook {
    padding: 4px;
    margin: 0;
}

.fb_acnt_btn {
    background-color: #42B72A;
    color: #ffff;
    border: none;
    padding: 8px;
    margin: 8px;
}