.app_buttons img {
    width: 20%;
    height: 50px;
    // margin: 10px 10px 10px 10px;
    // margin: 10px;
    margin-left: -45%;
}

.app_buttons {
    display: flex;
    justify-content: center;
    // margin-right: 100px;
}

.getapp {
    display: flex;
    justify-content: center;
    margin-left: -50%;
}