.main {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    text-align: center;
}

.main_screen {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    bottom: 0;
    // background-color: #990000;
    text-align: center;
    color: #FFFFFF;
}