@import url('//fonts.cdnfonts.com/css/billabong');
.insta {
    position: relative;
    color: #000000;
    font-size: 30px;
    font-family: "billabong", sans-serif;
    text-decoration: none;
    padding: 8px;
    margin: 4px;
    font-weight: bolder;
}

.navbar {
    width: 100%;
    background-color: #ffff;
    overflow: auto;
    color: black;
    display: flex;
    margin: 0px;
}

.icons {
    display: flex;
    margin-left: 40%;
    padding-left: 24px;
    white-space: nowrap;
    margin-right: 24px;
}

.home {
    padding: 8px;
    margin: 4px;
    cursor: pointer;
}

.navigation_search_container {
    position: relative;
    padding: 8px;
    margin: 4px;
}

.navigation_search_container input {
    background-color: #fafafa;
    padding: 3px 20px;
    padding-left: 25px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.0975);
    border-radius: 3px;
    font-size: 14px;
}

.navigation_search_container .search_icon {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}